@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header ul {
  display: flex;
  gap: 20px;
  justify-content: end;
  font-size: 1.5rem;
  list-style-type: none;
  font-family: "Graduate", cursive;
}

body {
  padding: 4em 6em;
  display: flex;
  flex-direction: column;
  gap: 14rem;
  background-color: rgb(62, 97, 102);
  font-family: "Graduate", cursive;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(86, 180, 168);
}

/*********index**********/
.body_index {
  background-image: url(img/forside.webp);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1200px 1fr;
  grid-template-areas: "main header";
}

.body_index header {
  grid-area: header;
}

.body_index main {
  grid-area: main;
}

.index_liste ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
}

/*********product**********/

.breadcrumbs {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: black;
}

.purchasebox h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.purchasebox p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

label {
  font-size: 1.5rem;
}
.purchasebox {
  background-color: lightgray;
  padding: 2rem;
  max-width: 20rem;
  grid-area: purchase;
}

.purchase_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "infoimg infobox"
    "infoimg purchase";
}

.info {
  grid-area: infobox;
  font-size: 1.5rem;
}

.purchase_info img {
  grid-area: infoimg;
}

dd {
  margin-left: 1rem;
}

/**********productlist**********/

.productlist article .discount,
.productlist article .price span {
  display: none;
}

.productlist article.sale .discount {
  display: flex;
  justify-content: space-between;
}

.productlist article.sale .price span {
  display: initial;
}

.productlist article {
  margin-bottom: 1rem;
}

.product article h3 {
  flex-grow: 3;
}
.product {
  display: flex;
  flex-direction: column;
}

.discount {
  display: flex;
  justify-content: space-between;
}

.discount p:last-child {
  padding: 1px;
  background-color: rgb(255, 230, 1);
}

.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: lightgray;
  color: black;
  padding: 1rem;
}

.soldOut::after {
  content: "Sold Out";
  position: absolute;
  padding: 1rem;
  background-color: rgb(86, 180, 168);
  color: white;
}

.product_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
  gap: 3em;
  justify-content: center;
}

h1 {
  margin-bottom: 4rem;
}

.back {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

/*********category**********/
.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 30px;
  gap: 20px;
}

.category a {
  padding: 1.3em 2em;
  background-color: rgb(93, 135, 141);
  text-decoration: none;
  border-radius: 15px;
}
